.qod {
  width: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
}

.qod-text{
  font-size: 26px;
}

.nav{
  background-color: #fff;
}

.jumbotron{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-quote{
  width: 300px;
  height: 60px;
}